<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, omnis iure similique officiis odit maxime voluptatem enim nihil adipisci error fugiat aperiam animi reiciendis deserunt accusantium aliquam earum accusamus. Doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, omnis iure similique officiis odit maxime voluptatem enim nihil adipisci error fugiat aperiam animi reiciendis deserunt accusantium aliquam earum accusamus. Doloremque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, omnis iure similique officiis odit maxime voluptatem enim nihil adipisci error fugiat aperiam animi reiciendis deserunt accusantium aliquam earum accusamus. Doloremque.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>